In [105]:
import os

directory = os.walk('/Users/Maxwell/PycharmProjects/Github/ProjectXLL/options')
fileList = []

for root, dirs, files in directory:
    for file in files:
        if file[-3:] in ['csv', 'xls'] or file[-4:] == 'xlsx':
            fileList.append(os.path.join(root, file))

In [107]:
import pandas as pd
import datetime


csv = pd.DataFrame()
excel = pd.DataFrame()
options = pd.DataFrame()

for file in fileList: 
    
    if file[-3:] == 'csv':
        
        csvTemp = pd.read_csv(file)
        mTime = os.path.getmtime(file)
        cDate = datetime.datetime.fromtimestamp(mTime).date()
        #csvTemp.loc[:, 'cDate'] = cDate
        
        csvTemp.loc[:, 'cDate'] = datetime.date(2016, 11, 15)
        
        csv = pd.concat([csv, csvTemp])
    
    else:
        
        try:
            
            excTemp = pd.read_excel(file, None)
            
            mTime = os.path.getmtime(file)
     
            cDate = datetime.datetime.fromtimestamp(mTime).date()

            path, fileName = os.path.split(file)
            ticker = fileName.split('.')[0]
            
            excTemp['CALL'].loc[:, 'Type'] = 'Call'
            excTemp['CALL'].loc[:, 'Ticker'] = ticker
            excTemp['CALL'].loc[:, 'cDate'] = cDate
            
            excTemp['PUT'].loc[:, 'Type'] = 'Put'
            excTemp['PUT'].loc[:, 'Ticker'] = ticker
            excTemp['PUT'].loc[:, 'cDate'] = cDate
            
            excTemp2 = pd.concat([excTemp['CALL'], excTemp['PUT']])
        
            excel = pd.concat([excel, excTemp2])
            
        except KeyError:
            continue

In [3]:
csv2 = csv.loc[:,['cDate', 'ExpDate', 'StrikePrice', 'Ticker', 'Type', 'Last', 'IV']]

for date in set(csv.ExpDate):
        csv2.ix[csv2.ExpDate == date, 'ExpDate'] = datetime.datetime.strptime(date, '%b %d, %Y').date()

csv2.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>cDate</th>
      <th>ExpDate</th>
      <th>StrikePrice</th>
      <th>Ticker</th>
      <th>Type</th>
      <th>Last</th>
      <th>IV</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2016-11-15</td>
      <td>2016-12-16</td>
      <td>7.5</td>
      <td>SVVC</td>
      <td>Call</td>
      <td>0.70</td>
      <td>0.92542</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2016-11-15</td>
      <td>2016-12-16</td>
      <td>7.5</td>
      <td>SVVC</td>
      <td>Put</td>
      <td>0.25</td>
      <td>1.12519</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2016-11-15</td>
      <td>2017-01-20</td>
      <td>7.5</td>
      <td>SVVC</td>
      <td>Call</td>
      <td>0.40</td>
      <td>0.13250</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2016-11-15</td>
      <td>2017-03-17</td>
      <td>7.5</td>
      <td>SVVC</td>
      <td>Call</td>
      <td>0.50</td>
      <td>0.14890</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2016-11-15</td>
      <td>2017-03-17</td>
      <td>7.5</td>
      <td>SVVC</td>
      <td>Put</td>
      <td>0.50</td>
      <td>0.27086</td>
    </tr>
  </tbody>
</table>
</div>

In [4]:
excel = excel.rename(columns={'Date':'ExpDate', 'ImpliedVolatility': 'IV', 'LastPrice':'Last', 'Strike':'StrikePrice'})

excel2 = excel.loc[:,['cDate', 'ExpDate', 'StrikePrice', 'Ticker', 'Type', 'Last', 'IV']]

for date in set(excel.ExpDate):
        excel2.ix[excel2.ExpDate == date, 'ExpDate'] = datetime.datetime.strptime(date, '%Y-%m-%d').date()

excel2.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>cDate</th>
      <th>ExpDate</th>
      <th>StrikePrice</th>
      <th>Ticker</th>
      <th>Type</th>
      <th>Last</th>
      <th>IV</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2016-11-15</td>
      <td>2016-11-17</td>
      <td>60.0</td>
      <td>AAPL</td>
      <td>Call</td>
      <td>47.25</td>
      <td>2.000005</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2016-11-15</td>
      <td>2016-11-17</td>
      <td>65.0</td>
      <td>AAPL</td>
      <td>Call</td>
      <td>42.25</td>
      <td>1.750001</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2016-11-15</td>
      <td>2016-11-17</td>
      <td>70.0</td>
      <td>AAPL</td>
      <td>Call</td>
      <td>37.25</td>
      <td>1.500002</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2016-11-15</td>
      <td>2016-11-17</td>
      <td>75.0</td>
      <td>AAPL</td>
      <td>Call</td>
      <td>37.02</td>
      <td>3.013674</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2016-11-15</td>
      <td>2016-11-17</td>
      <td>80.0</td>
      <td>AAPL</td>
      <td>Call</td>
      <td>26.26</td>
      <td>1.062505</td>
    </tr>
  </tbody>
</table>
</div>

In [5]:
optionData = pd.concat([csv2, excel2])

optionData = optionData.reset_index(drop=True)
optionData.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>cDate</th>
      <th>ExpDate</th>
      <th>StrikePrice</th>
      <th>Ticker</th>
      <th>Type</th>
      <th>Last</th>
      <th>IV</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2016-11-15</td>
      <td>2016-12-16</td>
      <td>7.5</td>
      <td>SVVC</td>
      <td>Call</td>
      <td>0.70</td>
      <td>0.92542</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2016-11-15</td>
      <td>2016-12-16</td>
      <td>7.5</td>
      <td>SVVC</td>
      <td>Put</td>
      <td>0.25</td>
      <td>1.12519</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2016-11-15</td>
      <td>2017-01-20</td>
      <td>7.5</td>
      <td>SVVC</td>
      <td>Call</td>
      <td>0.40</td>
      <td>0.13250</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2016-11-15</td>
      <td>2017-03-17</td>
      <td>7.5</td>
      <td>SVVC</td>
      <td>Call</td>
      <td>0.50</td>
      <td>0.14890</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2016-11-15</td>
      <td>2017-03-17</td>
      <td>7.5</td>
      <td>SVVC</td>
      <td>Put</td>
      <td>0.50</td>
      <td>0.27086</td>
    </tr>
  </tbody>
</table>
</div>

In [6]:
from pandas_datareader import data as web
from time import sleep
def getStockPrice(df):
    
    df2 = df.copy()
    
    for ticker in set(df.Ticker):   
        for date in set(df.loc[df.Ticker == ticker, 'cDate']):
            try:
                f = web.DataReader(ticker, 'yahoo', start=date, end=date)
                df2.loc[(df.Ticker == ticker) & (df.cDate == date), 'StockPrice'] = f.loc[date, 'Close']
            except:
                print(repr(ticker))
                break
    return df2

getStockPrice(optionData.head(20))

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>cDate</th>
      <th>ExpDate</th>
      <th>StrikePrice</th>
      <th>Ticker</th>
      <th>Type</th>
      <th>Last</th>
      <th>IV</th>
      <th>StockPrice</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2016-11-15</td>
      <td>2016-12-16</td>
      <td>7.5</td>
      <td>SVVC</td>
      <td>Call</td>
      <td>0.70</td>
      <td>0.92542</td>
      <td>7.86</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2016-11-15</td>
      <td>2016-12-16</td>
      <td>7.5</td>
      <td>SVVC</td>
      <td>Put</td>
      <td>0.25</td>
      <td>1.12519</td>
      <td>7.86</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2016-11-15</td>
      <td>2017-01-20</td>
      <td>7.5</td>
      <td>SVVC</td>
      <td>Call</td>
      <td>0.40</td>
      <td>0.13250</td>
      <td>7.86</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2016-11-15</td>
      <td>2017-03-17</td>
      <td>7.5</td>
      <td>SVVC</td>
      <td>Call</td>
      <td>0.50</td>
      <td>0.14890</td>
      <td>7.86</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2016-11-15</td>
      <td>2017-03-17</td>
      <td>7.5</td>
      <td>SVVC</td>
      <td>Put</td>
      <td>0.50</td>
      <td>0.27086</td>
      <td>7.86</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2016-11-15</td>
      <td>2017-06-16</td>
      <td>7.5</td>
      <td>SVVC</td>
      <td>Call</td>
      <td>1.05</td>
      <td>0.08281</td>
      <td>7.86</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2016-11-15</td>
      <td>2016-12-09</td>
      <td>11.5</td>
      <td>CSIQ</td>
      <td>Call</td>
      <td>1.15</td>
      <td>1.89269</td>
      <td>11.73</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2016-11-15</td>
      <td>2016-12-09</td>
      <td>12.0</td>
      <td>CSIQ</td>
      <td>Call</td>
      <td>0.75</td>
      <td>1.14300</td>
      <td>11.73</td>
    </tr>
    <tr>
      <th>8</th>
      <td>2016-11-15</td>
      <td>2016-12-09</td>
      <td>12.5</td>
      <td>CSIQ</td>
      <td>Call</td>
      <td>0.25</td>
      <td>0.81989</td>
      <td>11.73</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2016-11-15</td>
      <td>2016-12-09</td>
      <td>13.0</td>
      <td>CSIQ</td>
      <td>Call</td>
      <td>0.05</td>
      <td>0.81199</td>
      <td>11.73</td>
    </tr>
    <tr>
      <th>10</th>
      <td>2016-11-15</td>
      <td>2016-12-09</td>
      <td>13.5</td>
      <td>CSIQ</td>
      <td>Call</td>
      <td>0.15</td>
      <td>1.51297</td>
      <td>11.73</td>
    </tr>
    <tr>
      <th>11</th>
      <td>2016-11-15</td>
      <td>2016-12-16</td>
      <td>11.5</td>
      <td>CSIQ</td>
      <td>Call</td>
      <td>1.28</td>
      <td>0.81006</td>
      <td>11.73</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2016-11-15</td>
      <td>2016-12-16</td>
      <td>12.0</td>
      <td>CSIQ</td>
      <td>Call</td>
      <td>0.78</td>
      <td>0.66746</td>
      <td>11.73</td>
    </tr>
    <tr>
      <th>13</th>
      <td>2016-11-15</td>
      <td>2016-12-16</td>
      <td>12.5</td>
      <td>CSIQ</td>
      <td>Call</td>
      <td>0.52</td>
      <td>0.63907</td>
      <td>11.73</td>
    </tr>
    <tr>
      <th>14</th>
      <td>2016-11-15</td>
      <td>2016-12-16</td>
      <td>13.0</td>
      <td>CSIQ</td>
      <td>Call</td>
      <td>0.30</td>
      <td>0.60740</td>
      <td>11.73</td>
    </tr>
    <tr>
      <th>15</th>
      <td>2016-11-15</td>
      <td>2016-12-16</td>
      <td>13.5</td>
      <td>CSIQ</td>
      <td>Call</td>
      <td>0.20</td>
      <td>0.63336</td>
      <td>11.73</td>
    </tr>
    <tr>
      <th>16</th>
      <td>2016-11-15</td>
      <td>2016-12-23</td>
      <td>11.5</td>
      <td>CSIQ</td>
      <td>Call</td>
      <td>0.70</td>
      <td>0.69524</td>
      <td>11.73</td>
    </tr>
    <tr>
      <th>17</th>
      <td>2016-11-15</td>
      <td>2016-12-23</td>
      <td>12.0</td>
      <td>CSIQ</td>
      <td>Call</td>
      <td>0.95</td>
      <td>0.61773</td>
      <td>11.73</td>
    </tr>
    <tr>
      <th>18</th>
      <td>2016-11-15</td>
      <td>2016-12-23</td>
      <td>12.5</td>
      <td>CSIQ</td>
      <td>Call</td>
      <td>0.85</td>
      <td>0.55788</td>
      <td>11.73</td>
    </tr>
    <tr>
      <th>19</th>
      <td>2016-11-15</td>
      <td>2016-12-23</td>
      <td>13.0</td>
      <td>CSIQ</td>
      <td>Call</td>
      <td>0.39</td>
      <td>0.55726</td>
      <td>11.73</td>
    </tr>
  </tbody>
</table>
</div>

In [7]:
optionData = getStockPrice(optionData)

'SZMK'

'RLOC'

'IDI'

In [25]:
import numpy as np

optionData.loc[:, 'T'] = ((optionData.loc[:, 'ExpDate'] - optionData.loc [:, 'cDate']) / datetime.timedelta(days=1)).astype(float) / 365.25
optionData2 = optionData.loc[(optionData.loc[:, 'T'] > 0), :]

In [28]:
from ImpliedVolatility import ImpliedVolatility as iv
sigma0 = 0.5
r = 0.005

df = optionData2
dfCopy = df.copy()
for i in df.index:
    dfCopy.ix[i, 'ImpliedVolatility'] = iv(df.ix[i, 'StockPrice'], df.ix[i, 'StrikePrice'], df.ix[i, 'T'], r, sigma0, df.ix[i, 'Last'], df.ix[i, 'Type']).bsmBisectionVol()

dfCopy.head()

In [29]:
optionData2 = optionData2.dropna()
optionData2.to_csv('optionData.csv')

In [32]:
tolerance = 0.01

dfCopy.loc[:, 'Difference'] = dfCopy.IV - dfCopy.ImpliedVolatility
europeanOptions = dfCopy.loc[np.fabs(dfCopy.Difference) < tolerance, :]
europeanOptions.to_csv("europeanOptions.csv")
europeanOptions.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>cDate</th>
      <th>ExpDate</th>
      <th>StrikePrice</th>
      <th>Ticker</th>
      <th>Type</th>
      <th>Last</th>
      <th>IV</th>
      <th>StockPrice</th>
      <th>T</th>
      <th>ImpliedVolatility</th>
      <th>Difference</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>3</th>
      <td>2016-11-15</td>
      <td>2017-03-17</td>
      <td>7.5</td>
      <td>SVVC</td>
      <td>Call</td>
      <td>0.50</td>
      <td>0.14890</td>
      <td>7.86</td>
      <td>0.334018</td>
      <td>0.155208</td>
      <td>-0.006308</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2016-11-15</td>
      <td>2016-12-16</td>
      <td>12.0</td>
      <td>CSIQ</td>
      <td>Call</td>
      <td>0.78</td>
      <td>0.66746</td>
      <td>11.73</td>
      <td>0.084873</td>
      <td>0.658392</td>
      <td>0.009068</td>
    </tr>
    <tr>
      <th>19</th>
      <td>2016-11-15</td>
      <td>2016-12-23</td>
      <td>13.0</td>
      <td>CSIQ</td>
      <td>Call</td>
      <td>0.39</td>
      <td>0.55726</td>
      <td>11.73</td>
      <td>0.104038</td>
      <td>0.555287</td>
      <td>0.001973</td>
    </tr>
    <tr>
      <th>36</th>
      <td>2016-11-15</td>
      <td>2016-12-30</td>
      <td>11.5</td>
      <td>CSIQ</td>
      <td>Put</td>
      <td>0.82</td>
      <td>0.57026</td>
      <td>11.73</td>
      <td>0.123203</td>
      <td>0.575277</td>
      <td>-0.005017</td>
    </tr>
    <tr>
      <th>40</th>
      <td>2016-11-15</td>
      <td>2017-01-06</td>
      <td>13.5</td>
      <td>CSIQ</td>
      <td>Call</td>
      <td>0.42</td>
      <td>0.56959</td>
      <td>11.73</td>
      <td>0.142368</td>
      <td>0.570714</td>
      <td>-0.001124</td>
    </tr>
  </tbody>
</table>
</div>

In [109]:
europeanOptions.describe()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>StrikePrice</th>
      <th>Last</th>
      <th>IV</th>
      <th>StockPrice</th>
      <th>T</th>
      <th>ImpliedVolatility</th>
      <th>Difference</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>2304.000000</td>
      <td>2304.000000</td>
      <td>2304.000000</td>
      <td>2304.000000</td>
      <td>2304.000000</td>
      <td>2304.000000</td>
      <td>2304.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>246.047743</td>
      <td>9.851706</td>
      <td>0.310466</td>
      <td>252.713526</td>
      <td>0.448169</td>
      <td>0.310192</td>
      <td>0.000275</td>
    </tr>
    <tr>
      <th>std</th>
      <td>271.503694</td>
      <td>28.233880</td>
      <td>0.187939</td>
      <td>264.767148</td>
      <td>0.507852</td>
      <td>0.188058</td>
      <td>0.005549</td>
    </tr>
    <tr>
      <th>min</th>
      <td>1.500000</td>
      <td>0.010000</td>
      <td>0.058540</td>
      <td>1.640000</td>
      <td>0.005476</td>
      <td>0.068015</td>
      <td>-0.009994</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>75.000000</td>
      <td>0.760000</td>
      <td>0.217633</td>
      <td>88.330002</td>
      <td>0.104038</td>
      <td>0.218117</td>
      <td>-0.004390</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>125.000000</td>
      <td>2.450000</td>
      <td>0.258903</td>
      <td>120.910004</td>
      <td>0.227242</td>
      <td>0.258124</td>
      <td>0.000250</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>258.125000</td>
      <td>7.485000</td>
      <td>0.348151</td>
      <td>265.929993</td>
      <td>0.580424</td>
      <td>0.347655</td>
      <td>0.004963</td>
    </tr>
    <tr>
      <th>max</th>
      <td>1180.000000</td>
      <td>435.000000</td>
      <td>5.000004</td>
      <td>775.159973</td>
      <td>2.173854</td>
      <td>5.000000</td>
      <td>0.009997</td>
    </tr>
  </tbody>
</table>
</div>