In [86]:
import os

directory = os.walk('/Users/Maxwell/PycharmProjects/Github/ProjectXLL/options')
fileList = []

for root, dirs, files in directory:
    for file in files:
        if file[-3:] in ['csv', 'xls'] or file[-4:] == 'xlsx':
            fileList.append(os.path.join(root, file))

In [87]:
import pandas as pd
import datetime


csv = pd.DataFrame()
excel = pd.DataFrame()
options = pd.DataFrame()

for file in fileList: 
    
    if file[-3:] == 'csv':
        
        csvTemp = pd.read_csv(file)
        mTime = os.path.getmtime(file)
        cDate = datetime.datetime.fromtimestamp(mTime).date()
        csvTemp.loc[:, 'cDate'] = cDate
        
        csv = pd.concat([csv, csvTemp])
    
    else:
        
        try:
            
            excTemp = pd.read_excel(file, None)
            
            mTime = os.path.getmtime(file)
     
            cDate = datetime.datetime.fromtimestamp(mTime).date()

            path, fileName = os.path.split(file)
            ticker = fileName.split('.')[0]
            
            excTemp['CALL'].loc[:, 'Type'] = 'Call'
            excTemp['CALL'].loc[:, 'Ticker'] = ticker
            excTemp['CALL'].loc[:, 'cDate'] = cDate
            
            excTemp['PUT'].loc[:, 'Type'] = 'Put'
            excTemp['PUT'].loc[:, 'Ticker'] = ticker
            excTemp['PUT'].loc[:, 'cDate'] = cDate
            
            excTemp2 = pd.concat([excTemp['CALL'], excTemp['PUT']])
        
            excel = pd.concat([excel, excTemp2])
            
        except KeyError:
            continue

In [88]:
csv2 = csv.loc[:,['cDate', 'ExpDate', 'StrikePrice', 'Ticker', 'Type', 'Last', 'IV']]
csv2.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>cDate</th>
      <th>ExpDate</th>
      <th>StrikePrice</th>
      <th>Ticker</th>
      <th>Type</th>
      <th>Last</th>
      <th>IV</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2016-12-09</td>
      <td>Dec 16, 2016</td>
      <td>7.5</td>
      <td>SVVC</td>
      <td>Call</td>
      <td>0.70</td>
      <td>0.92542</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2016-12-09</td>
      <td>Dec 16, 2016</td>
      <td>7.5</td>
      <td>SVVC</td>
      <td>Put</td>
      <td>0.25</td>
      <td>1.12519</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2016-12-09</td>
      <td>Jan 20, 2017</td>
      <td>7.5</td>
      <td>SVVC</td>
      <td>Call</td>
      <td>0.40</td>
      <td>0.13250</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2016-12-09</td>
      <td>Mar 17, 2017</td>
      <td>7.5</td>
      <td>SVVC</td>
      <td>Call</td>
      <td>0.50</td>
      <td>0.14890</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2016-12-09</td>
      <td>Mar 17, 2017</td>
      <td>7.5</td>
      <td>SVVC</td>
      <td>Put</td>
      <td>0.50</td>
      <td>0.27086</td>
    </tr>
  </tbody>
</table>
</div>

In [89]:
excel = excel.rename(columns={'Date':'ExpDate', 'ImpliedVolatility': 'IV', 'LastPrice':'Last', 'Strike':'StrikePrice'})

excel2 = excel.loc[:,['cDate', 'ExpDate', 'StrikePrice', 'Ticker', 'Type', 'Last', 'IV']]
excel2.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>cDate</th>
      <th>ExpDate</th>
      <th>StrikePrice</th>
      <th>Ticker</th>
      <th>Type</th>
      <th>Last</th>
      <th>IV</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2016-11-15</td>
      <td>2016-11-17</td>
      <td>60.0</td>
      <td>AAPL</td>
      <td>Call</td>
      <td>47.25</td>
      <td>2.000005</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2016-11-15</td>
      <td>2016-11-17</td>
      <td>65.0</td>
      <td>AAPL</td>
      <td>Call</td>
      <td>42.25</td>
      <td>1.750001</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2016-11-15</td>
      <td>2016-11-17</td>
      <td>70.0</td>
      <td>AAPL</td>
      <td>Call</td>
      <td>37.25</td>
      <td>1.500002</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2016-11-15</td>
      <td>2016-11-17</td>
      <td>75.0</td>
      <td>AAPL</td>
      <td>Call</td>
      <td>37.02</td>
      <td>3.013674</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2016-11-15</td>
      <td>2016-11-17</td>
      <td>80.0</td>
      <td>AAPL</td>
      <td>Call</td>
      <td>26.26</td>
      <td>1.062505</td>
    </tr>
  </tbody>
</table>
</div>

In [90]:
optionData = pd.concat([csv2, excel2])

optionData = optionData.reset_index(drop=True)
optionData.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>cDate</th>
      <th>ExpDate</th>
      <th>StrikePrice</th>
      <th>Ticker</th>
      <th>Type</th>
      <th>Last</th>
      <th>IV</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2016-12-09</td>
      <td>Dec 16, 2016</td>
      <td>7.5</td>
      <td>SVVC</td>
      <td>Call</td>
      <td>0.70</td>
      <td>0.92542</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2016-12-09</td>
      <td>Dec 16, 2016</td>
      <td>7.5</td>
      <td>SVVC</td>
      <td>Put</td>
      <td>0.25</td>
      <td>1.12519</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2016-12-09</td>
      <td>Jan 20, 2017</td>
      <td>7.5</td>
      <td>SVVC</td>
      <td>Call</td>
      <td>0.40</td>
      <td>0.13250</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2016-12-09</td>
      <td>Mar 17, 2017</td>
      <td>7.5</td>
      <td>SVVC</td>
      <td>Call</td>
      <td>0.50</td>
      <td>0.14890</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2016-12-09</td>
      <td>Mar 17, 2017</td>
      <td>7.5</td>
      <td>SVVC</td>
      <td>Put</td>
      <td>0.50</td>
      <td>0.27086</td>
    </tr>
  </tbody>
</table>
</div>

In [104]:
from pandas_datareader import data as web
from time import sleep
def getStockPrice(df):
    
    df2 = df.copy()
    count = 1
    
    for ticker in set(df.Ticker):   
        for date in set(df.loc[df.Ticker == ticker, 'cDate']):
            try:
                f = web.DataReader(ticker, 'yahoo', start=date, end=date)
                df2.loc[(df.Ticker == ticker) & (df.cDate == date), 'StockPrice'] = f.loc[date, 'Close']
            except:
                break
    return df2

getStockPrice(optionData.head(20))

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>cDate</th>
      <th>ExpDate</th>
      <th>StrikePrice</th>
      <th>Ticker</th>
      <th>Type</th>
      <th>Last</th>
      <th>IV</th>
      <th>StockPrice</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2016-12-09</td>
      <td>Dec 16, 2016</td>
      <td>7.5</td>
      <td>SVVC</td>
      <td>Call</td>
      <td>0.70</td>
      <td>0.92542</td>
      <td>8.23</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2016-12-09</td>
      <td>Dec 16, 2016</td>
      <td>7.5</td>
      <td>SVVC</td>
      <td>Put</td>
      <td>0.25</td>
      <td>1.12519</td>
      <td>8.23</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2016-12-09</td>
      <td>Jan 20, 2017</td>
      <td>7.5</td>
      <td>SVVC</td>
      <td>Call</td>
      <td>0.40</td>
      <td>0.13250</td>
      <td>8.23</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2016-12-09</td>
      <td>Mar 17, 2017</td>
      <td>7.5</td>
      <td>SVVC</td>
      <td>Call</td>
      <td>0.50</td>
      <td>0.14890</td>
      <td>8.23</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2016-12-09</td>
      <td>Mar 17, 2017</td>
      <td>7.5</td>
      <td>SVVC</td>
      <td>Put</td>
      <td>0.50</td>
      <td>0.27086</td>
      <td>8.23</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2016-12-09</td>
      <td>Jun 16, 2017</td>
      <td>7.5</td>
      <td>SVVC</td>
      <td>Call</td>
      <td>1.05</td>
      <td>0.08281</td>
      <td>8.23</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2016-12-09</td>
      <td>Dec 09, 2016</td>
      <td>11.5</td>
      <td>CSIQ</td>
      <td>Call</td>
      <td>1.15</td>
      <td>1.89269</td>
      <td>12.78</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2016-12-09</td>
      <td>Dec 09, 2016</td>
      <td>12.0</td>
      <td>CSIQ</td>
      <td>Call</td>
      <td>0.75</td>
      <td>1.14300</td>
      <td>12.78</td>
    </tr>
    <tr>
      <th>8</th>
      <td>2016-12-09</td>
      <td>Dec 09, 2016</td>
      <td>12.5</td>
      <td>CSIQ</td>
      <td>Call</td>
      <td>0.25</td>
      <td>0.81989</td>
      <td>12.78</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2016-12-09</td>
      <td>Dec 09, 2016</td>
      <td>13.0</td>
      <td>CSIQ</td>
      <td>Call</td>
      <td>0.05</td>
      <td>0.81199</td>
      <td>12.78</td>
    </tr>
    <tr>
      <th>10</th>
      <td>2016-12-09</td>
      <td>Dec 09, 2016</td>
      <td>13.5</td>
      <td>CSIQ</td>
      <td>Call</td>
      <td>0.15</td>
      <td>1.51297</td>
      <td>12.78</td>
    </tr>
    <tr>
      <th>11</th>
      <td>2016-12-09</td>
      <td>Dec 16, 2016</td>
      <td>11.5</td>
      <td>CSIQ</td>
      <td>Call</td>
      <td>1.28</td>
      <td>0.81006</td>
      <td>12.78</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2016-12-09</td>
      <td>Dec 16, 2016</td>
      <td>12.0</td>
      <td>CSIQ</td>
      <td>Call</td>
      <td>0.78</td>
      <td>0.66746</td>
      <td>12.78</td>
    </tr>
    <tr>
      <th>13</th>
      <td>2016-12-09</td>
      <td>Dec 16, 2016</td>
      <td>12.5</td>
      <td>CSIQ</td>
      <td>Call</td>
      <td>0.52</td>
      <td>0.63907</td>
      <td>12.78</td>
    </tr>
    <tr>
      <th>14</th>
      <td>2016-12-09</td>
      <td>Dec 16, 2016</td>
      <td>13.0</td>
      <td>CSIQ</td>
      <td>Call</td>
      <td>0.30</td>
      <td>0.60740</td>
      <td>12.78</td>
    </tr>
    <tr>
      <th>15</th>
      <td>2016-12-09</td>
      <td>Dec 16, 2016</td>
      <td>13.5</td>
      <td>CSIQ</td>
      <td>Call</td>
      <td>0.20</td>
      <td>0.63336</td>
      <td>12.78</td>
    </tr>
    <tr>
      <th>16</th>
      <td>2016-12-09</td>
      <td>Dec 23, 2016</td>
      <td>11.5</td>
      <td>CSIQ</td>
      <td>Call</td>
      <td>0.70</td>
      <td>0.69524</td>
      <td>12.78</td>
    </tr>
    <tr>
      <th>17</th>
      <td>2016-12-09</td>
      <td>Dec 23, 2016</td>
      <td>12.0</td>
      <td>CSIQ</td>
      <td>Call</td>
      <td>0.95</td>
      <td>0.61773</td>
      <td>12.78</td>
    </tr>
    <tr>
      <th>18</th>
      <td>2016-12-09</td>
      <td>Dec 23, 2016</td>
      <td>12.5</td>
      <td>CSIQ</td>
      <td>Call</td>
      <td>0.85</td>
      <td>0.55788</td>
      <td>12.78</td>
    </tr>
    <tr>
      <th>19</th>
      <td>2016-12-09</td>
      <td>Dec 23, 2016</td>
      <td>13.0</td>
      <td>CSIQ</td>
      <td>Call</td>
      <td>0.39</td>
      <td>0.55726</td>
      <td>12.78</td>
    </tr>
  </tbody>
</table>
</div>

In [105]:
optionData = getStockPrice(optionData)

'IDI'

'RLOC'

'SZMK'

In [79]:
optionData

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>cDate</th>
      <th>ExpDate</th>
      <th>StrikePrice</th>
      <th>Ticker</th>
      <th>Type</th>
      <th>Last</th>
      <th>IV</th>
      <th>StockPrice</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2016-12-09</td>
      <td>Dec 16, 2016</td>
      <td>7.5</td>
      <td>SVVC</td>
      <td>Call</td>
      <td>0.70</td>
      <td>0.925420</td>
      <td>8.23</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2016-12-09</td>
      <td>Dec 16, 2016</td>
      <td>7.5</td>
      <td>SVVC</td>
      <td>Put</td>
      <td>0.25</td>
      <td>1.125190</td>
      <td>8.23</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2016-12-09</td>
      <td>Jan 20, 2017</td>
      <td>7.5</td>
      <td>SVVC</td>
      <td>Call</td>
      <td>0.40</td>
      <td>0.132500</td>
      <td>8.23</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2016-12-09</td>
      <td>Mar 17, 2017</td>
      <td>7.5</td>
      <td>SVVC</td>
      <td>Call</td>
      <td>0.50</td>
      <td>0.148900</td>
      <td>8.23</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2016-12-09</td>
      <td>Mar 17, 2017</td>
      <td>7.5</td>
      <td>SVVC</td>
      <td>Put</td>
      <td>0.50</td>
      <td>0.270860</td>
      <td>8.23</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2016-12-09</td>
      <td>Jun 16, 2017</td>
      <td>7.5</td>
      <td>SVVC</td>
      <td>Call</td>
      <td>1.05</td>
      <td>0.082810</td>
      <td>8.23</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2016-12-09</td>
      <td>Dec 09, 2016</td>
      <td>11.5</td>
      <td>CSIQ</td>
      <td>Call</td>
      <td>1.15</td>
      <td>1.892690</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2016-12-09</td>
      <td>Dec 09, 2016</td>
      <td>12.0</td>
      <td>CSIQ</td>
      <td>Call</td>
      <td>0.75</td>
      <td>1.143000</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>8</th>
      <td>2016-12-09</td>
      <td>Dec 09, 2016</td>
      <td>12.5</td>
      <td>CSIQ</td>
      <td>Call</td>
      <td>0.25</td>
      <td>0.819890</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2016-12-09</td>
      <td>Dec 09, 2016</td>
      <td>13.0</td>
      <td>CSIQ</td>
      <td>Call</td>
      <td>0.05</td>
      <td>0.811990</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10</th>
      <td>2016-12-09</td>
      <td>Dec 09, 2016</td>
      <td>13.5</td>
      <td>CSIQ</td>
      <td>Call</td>
      <td>0.15</td>
      <td>1.512970</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11</th>
      <td>2016-12-09</td>
      <td>Dec 16, 2016</td>
      <td>11.5</td>
      <td>CSIQ</td>
      <td>Call</td>
      <td>1.28</td>
      <td>0.810060</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2016-12-09</td>
      <td>Dec 16, 2016</td>
      <td>12.0</td>
      <td>CSIQ</td>
      <td>Call</td>
      <td>0.78</td>
      <td>0.667460</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>13</th>
      <td>2016-12-09</td>
      <td>Dec 16, 2016</td>
      <td>12.5</td>
      <td>CSIQ</td>
      <td>Call</td>
      <td>0.52</td>
      <td>0.639070</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>14</th>
      <td>2016-12-09</td>
      <td>Dec 16, 2016</td>
      <td>13.0</td>
      <td>CSIQ</td>
      <td>Call</td>
      <td>0.30</td>
      <td>0.607400</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>15</th>
      <td>2016-12-09</td>
      <td>Dec 16, 2016</td>
      <td>13.5</td>
      <td>CSIQ</td>
      <td>Call</td>
      <td>0.20</td>
      <td>0.633360</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>16</th>
      <td>2016-12-09</td>
      <td>Dec 23, 2016</td>
      <td>11.5</td>
      <td>CSIQ</td>
      <td>Call</td>
      <td>0.70</td>
      <td>0.695240</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>17</th>
      <td>2016-12-09</td>
      <td>Dec 23, 2016</td>
      <td>12.0</td>
      <td>CSIQ</td>
      <td>Call</td>
      <td>0.95</td>
      <td>0.617730</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>18</th>
      <td>2016-12-09</td>
      <td>Dec 23, 2016</td>
      <td>12.5</td>
      <td>CSIQ</td>
      <td>Call</td>
      <td>0.85</td>
      <td>0.557880</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>19</th>
      <td>2016-12-09</td>
      <td>Dec 23, 2016</td>
      <td>13.0</td>
      <td>CSIQ</td>
      <td>Call</td>
      <td>0.39</td>
      <td>0.557260</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>20</th>
      <td>2016-12-09</td>
      <td>Dec 30, 2016</td>
      <td>11.5</td>
      <td>CSIQ</td>
      <td>Call</td>
      <td>1.20</td>
      <td>0.642330</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>21</th>
      <td>2016-12-09</td>
      <td>Dec 30, 2016</td>
      <td>12.0</td>
      <td>CSIQ</td>
      <td>Call</td>
      <td>1.40</td>
      <td>0.590930</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>22</th>
      <td>2016-12-09</td>
      <td>Dec 30, 2016</td>
      <td>12.5</td>
      <td>CSIQ</td>
      <td>Call</td>
      <td>0.75</td>
      <td>0.517990</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>23</th>
      <td>2016-12-09</td>
      <td>Dec 30, 2016</td>
      <td>13.0</td>
      <td>CSIQ</td>
      <td>Call</td>
      <td>0.75</td>
      <td>0.525360</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>24</th>
      <td>2016-12-09</td>
      <td>Dec 09, 2016</td>
      <td>11.5</td>
      <td>CSIQ</td>
      <td>Put</td>
      <td>0.05</td>
      <td>1.581800</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>25</th>
      <td>2016-12-09</td>
      <td>Dec 09, 2016</td>
      <td>12.0</td>
      <td>CSIQ</td>
      <td>Put</td>
      <td>0.05</td>
      <td>1.028550</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>26</th>
      <td>2016-12-09</td>
      <td>Dec 09, 2016</td>
      <td>12.5</td>
      <td>CSIQ</td>
      <td>Put</td>
      <td>0.10</td>
      <td>0.651350</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>27</th>
      <td>2016-12-09</td>
      <td>Dec 09, 2016</td>
      <td>13.0</td>
      <td>CSIQ</td>
      <td>Put</td>
      <td>0.35</td>
      <td>0.620860</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>28</th>
      <td>2016-12-09</td>
      <td>Dec 16, 2016</td>
      <td>11.5</td>
      <td>CSIQ</td>
      <td>Put</td>
      <td>0.21</td>
      <td>0.613410</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>29</th>
      <td>2016-12-09</td>
      <td>Dec 16, 2016</td>
      <td>12.0</td>
      <td>CSIQ</td>
      <td>Put</td>
      <td>0.18</td>
      <td>0.631990</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>24293</th>
      <td>2016-11-15</td>
      <td>2016-11-17</td>
      <td>60.0</td>
      <td>WWD</td>
      <td>Call</td>
      <td>5.60</td>
      <td>1.242191</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>24294</th>
      <td>2016-11-15</td>
      <td>2016-11-17</td>
      <td>65.0</td>
      <td>WWD</td>
      <td>Call</td>
      <td>3.00</td>
      <td>0.533208</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>24295</th>
      <td>2016-11-15</td>
      <td>2016-11-17</td>
      <td>70.0</td>
      <td>WWD</td>
      <td>Call</td>
      <td>0.05</td>
      <td>0.271492</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>24296</th>
      <td>2016-11-15</td>
      <td>2016-12-15</td>
      <td>60.0</td>
      <td>WWD</td>
      <td>Call</td>
      <td>2.00</td>
      <td>0.000010</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>24297</th>
      <td>2016-11-15</td>
      <td>2016-12-15</td>
      <td>65.0</td>
      <td>WWD</td>
      <td>Call</td>
      <td>1.70</td>
      <td>0.311774</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>24298</th>
      <td>2016-11-15</td>
      <td>2016-12-15</td>
      <td>70.0</td>
      <td>WWD</td>
      <td>Call</td>
      <td>0.95</td>
      <td>0.260261</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>24299</th>
      <td>2016-11-15</td>
      <td>2016-12-15</td>
      <td>85.0</td>
      <td>WWD</td>
      <td>Call</td>
      <td>0.05</td>
      <td>0.398444</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>24300</th>
      <td>2016-11-15</td>
      <td>2017-01-19</td>
      <td>55.0</td>
      <td>WWD</td>
      <td>Call</td>
      <td>5.60</td>
      <td>0.000010</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>24301</th>
      <td>2016-11-15</td>
      <td>2017-01-19</td>
      <td>60.0</td>
      <td>WWD</td>
      <td>Call</td>
      <td>5.00</td>
      <td>0.000010</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>24302</th>
      <td>2016-11-15</td>
      <td>2017-01-19</td>
      <td>65.0</td>
      <td>WWD</td>
      <td>Call</td>
      <td>2.50</td>
      <td>0.088388</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>24303</th>
      <td>2016-11-15</td>
      <td>2017-01-19</td>
      <td>70.0</td>
      <td>WWD</td>
      <td>Call</td>
      <td>0.90</td>
      <td>0.147225</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>24304</th>
      <td>2016-11-15</td>
      <td>2017-01-19</td>
      <td>75.0</td>
      <td>WWD</td>
      <td>Call</td>
      <td>0.42</td>
      <td>0.281501</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>24305</th>
      <td>2016-11-15</td>
      <td>2017-04-20</td>
      <td>55.0</td>
      <td>WWD</td>
      <td>Call</td>
      <td>12.75</td>
      <td>0.411627</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>24306</th>
      <td>2016-11-15</td>
      <td>2017-04-20</td>
      <td>60.0</td>
      <td>WWD</td>
      <td>Call</td>
      <td>4.33</td>
      <td>0.000010</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>24307</th>
      <td>2016-11-15</td>
      <td>2017-04-20</td>
      <td>65.0</td>
      <td>WWD</td>
      <td>Call</td>
      <td>3.50</td>
      <td>0.171761</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>24308</th>
      <td>2016-11-15</td>
      <td>2017-04-20</td>
      <td>75.0</td>
      <td>WWD</td>
      <td>Call</td>
      <td>0.53</td>
      <td>0.201424</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>24309</th>
      <td>2016-11-15</td>
      <td>2016-11-17</td>
      <td>60.0</td>
      <td>WWD</td>
      <td>Put</td>
      <td>0.35</td>
      <td>0.814455</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>24310</th>
      <td>2016-11-15</td>
      <td>2016-11-17</td>
      <td>65.0</td>
      <td>WWD</td>
      <td>Put</td>
      <td>0.65</td>
      <td>0.507817</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>24311</th>
      <td>2016-11-15</td>
      <td>2016-12-15</td>
      <td>60.0</td>
      <td>WWD</td>
      <td>Put</td>
      <td>1.20</td>
      <td>0.544926</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>24312</th>
      <td>2016-11-15</td>
      <td>2016-12-15</td>
      <td>65.0</td>
      <td>WWD</td>
      <td>Put</td>
      <td>3.50</td>
      <td>0.530278</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>24313</th>
      <td>2016-11-15</td>
      <td>2017-01-19</td>
      <td>35.0</td>
      <td>WWD</td>
      <td>Put</td>
      <td>0.40</td>
      <td>0.914063</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>24314</th>
      <td>2016-11-15</td>
      <td>2017-01-19</td>
      <td>50.0</td>
      <td>WWD</td>
      <td>Put</td>
      <td>0.85</td>
      <td>0.562749</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>24315</th>
      <td>2016-11-15</td>
      <td>2017-01-19</td>
      <td>55.0</td>
      <td>WWD</td>
      <td>Put</td>
      <td>2.10</td>
      <td>0.632328</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>24316</th>
      <td>2016-11-15</td>
      <td>2017-01-19</td>
      <td>60.0</td>
      <td>WWD</td>
      <td>Put</td>
      <td>1.60</td>
      <td>0.481084</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>24317</th>
      <td>2016-11-15</td>
      <td>2017-01-19</td>
      <td>65.0</td>
      <td>WWD</td>
      <td>Put</td>
      <td>3.70</td>
      <td>0.507573</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>24318</th>
      <td>2016-11-15</td>
      <td>2017-04-20</td>
      <td>55.0</td>
      <td>WWD</td>
      <td>Put</td>
      <td>1.55</td>
      <td>0.390143</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>24319</th>
      <td>2016-11-15</td>
      <td>2017-04-20</td>
      <td>60.0</td>
      <td>WWD</td>
      <td>Put</td>
      <td>5.10</td>
      <td>0.521611</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>24320</th>
      <td>2016-11-15</td>
      <td>2017-05-18</td>
      <td>2.5</td>
      <td>YUME</td>
      <td>Call</td>
      <td>1.00</td>
      <td>0.566411</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>24321</th>
      <td>2016-11-15</td>
      <td>2017-05-18</td>
      <td>5.0</td>
      <td>YUME</td>
      <td>Call</td>
      <td>0.30</td>
      <td>0.589848</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>24322</th>
      <td>2016-11-15</td>
      <td>2017-02-16</td>
      <td>5.0</td>
      <td>YUME</td>
      <td>Put</td>
      <td>1.70</td>
      <td>1.003911</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
<p>24323 rows × 8 columns</p>
</div>